.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;   /*Makes things stack instead of sitting side-by-side*/
  align-items: center;      /*horizontal align*/
  justify-content: center;  /*vertical align*/
  font-size: calc(10px + 2vmin);
  color: white;
}

.h1 {
  padding-bottom: 5%;
}

.img0{
  max-width: 20%;
  padding-bottom: 5%;
}
